.table-of-contents {
  @extend %scut-list-unstyled;
  @include rhythm-type(-1);
  @include rhythm-margins();
  margin-left : 0 !important;
  padding-left: 0 !important;
  font-weight : bold;
  list-style  : none !important;
  @include desktop {
    @include leader(-.75);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.table-of-contents__cell {
  margin-bottom: 0 !important;
  @include desktop {
    margin-top: rhythm(.5) !important;
    width: calc(50% - 1em / 2);
    line-height: 1.5;
  }

  &::before {
    display: none !important;
  }

  & + & {
    @include leader(.25);
  }
}
